html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* DONT FORGET TO ADD MEDIA QUERIES AT 320PX. THIS IS WHAT THEY WILL BE MARKING THE PROJECT ON */

/* global */

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

h2 {
    font: 400 4.2rem 'Offside', cursive;
}

p {
    font: 400 2rem 'Barlow', sans-serif;
    line-height: 30px;
    letter-spacing: 0.2px;
}

button {
    font: 400 2rem 'Offside', cursive;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
    padding: 8px 20px;
    cursor: pointer;
}

button:hover,
button:focus {
    box-shadow: #000 5px 5px;
    padding: 10px 22px;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* header */

header {
    background-image: url(./assets/assets/header-image.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.logo {
    color: #FFF;
    font: 400 2rem 'Offside', cursive;
    text-decoration: none;
    line-height: 20px;
    display: inline-block;
    width: 20px;
    padding: 20px 0;
}

nav {
    float: right;
}

header nav li {
    color: #FFF;
    font: 700 2rem 'Barlow', sans-serif;
    line-height: 29px;
    list-style: none;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: #FFF;
    font: 400 6.88rem 'Barlow', sans-serif;
    line-height: 63.7px;
    letter-spacing: 0.8px;
    width: 510px;
}

.socialMedia ul {
    position: absolute;
    right: 3%;
    top: 12%;
}

.socialMedia li {
    list-style: none;
    font: 700 2rem 'Barlow', sans-serif;
    line-height: 40px;
    text-align: center;
}   

header nav li:hover,
header nav li:focus,
.socialMedia li:hover,
.socialMedia li:focus {
    text-shadow: #000 5px 5px;
    font-size: 2.8rem;
}

/* main / firstSection */

.containerOne {
    background-color: #D6F1E4;
}

.containerOne h2 {
    color: #116500;
    margin: 0;
}

.ourNewFriends {
    text-align: center;
    padding: 70px 0;
}

.containerOne li {
    float: left;
    width: calc((100% - 80px) / 3);
    margin: 0 40px 40px 0;
    list-style: none;
}

.containerOne ul {
    padding: 0;
}

.containerOne li:last-child {
    margin-right: 0;
}

.containerTwo {
    padding: 60px 0 80px;
}

.imgContainer,
.contentContainer {
    float: left;
}

.imgContainer {
    width: 25%;
}

.contentContainer {
    /* added height selector so the hover effect on the button does not alter the background-size / comment out height selector for clarification */
    height: 350px;
    width: calc(75% - 30px);
    margin-left: 30px;
}

.readMore {
    color: #FFF;
    background-color: #116500;
}

/* main / secondSection */

.containerThree {
    background-color: #213C28;
}

.containerThree h2,
.containerThree p {
    color: #FFF;
}

.containerThree h2 {
    margin-top: 120px;
}

.contentContainerTwo {
    padding-right: 80px;
}

.contentContainerThree {
    padding-left: 80px;
    width: 50%;
    float: right;
    padding-bottom: 145px;
}

.readMoreTwo {
    color: #116500;
    background-color: #FFF;
}

.imgContainerTwo,
.contentContainerTwo {
    width: 50%;
    float: left;
}

.imgContainerTwo {
    position: relative;
}

.img1 {
    max-width: 49.5vw;
}

.img2 {
    max-width: 49.5vw;
    position: absolute;
    margin-left: -120px;
}

/* main / sectionThreee */

.containerFour {
    background-color: #D6F1E4;
    height: 300px;
}

.containerFour ul {
    text-align: center;
    padding: 150px 0;
    margin: 0;
}

.containerFour li {
    list-style: none;
    font: 400 4rem 'Offside', cursive;
    display: inline-block;
    padding: 0 100px;
    position: relative;
}

.containerFour li:hover,
.containerFour li:focus {
    font-size: 4.4rem;
}

.containerFour a {
    color: #116500;
}

.containerFour i {
    font-size: 6rem;
    color: #2C2D2C;
    position: absolute;
    bottom: 70px;
    right: 41%;
}

/* footer */

footer {
    background-color: #213C28;
}

footer section {
    padding: 100px 0;
}

footer section div,
footer section nav {
    float: left;
}

footer div:first-child {
    width: 50%;
}

footer div:nth-of-type(2n) {
    width: 35%;
    padding-left: 90px;
}

input[type="email"] {
    color: black;
    font-size: 2rem;
    border: none;
    margin: 10px 0;
    padding: 10px 30px;
    width: 75%;
}

input[type="email"]:hover,
input[type="email"]:focus {
    background-color: #000;
    color: #FFF;
}

input[type="submit"] {
    background-color: #2C2D2C;
    color: #FFF;
    font: 400 2rem 'Offside', cursive;
    text-transform: uppercase;
    border: none;
    margin: 10px 0;
    padding: 10px 20px;
    width: 24%;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: #000 5px 5px;
    padding: 10px 22px;
}

footer p {
    color: #FFF;
    margin: 0;
}

footer nav {
    width: 15%;
    text-align: right;
}

h3,
footer li {
    color: #FFF;
    font: 400 2.5rem 'Offside', cursive;
    list-style: none;
    line-height: 20px;
    margin: 0 0 10px;
}

footer li:hover,
footer li:focus {
    font-size: 3rem;
    text-shadow: #000 5px 5px;
}

.junoCollege {
    font: 400 4rem 'Offside', cursive;
    float: none;
    clear: both;
    text-align: center;
    padding-top: 50px;
}

.junoCollege:hover,
.junoCollege:focus {
    text-shadow: #000 5px 5px;
    font-size: 4.5rem;
}

.copyright p {
    background-color: #2C2D2C;
    color: #FFF;
    padding: 10px;
    margin: 0;
    text-align: center;
}



/* media queries */

@media (max-width: 940px) {
    /* use on float items that i now want to go under each other */
    /* float: none; */
    /* width: 100%; */

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}